<header class="text-black  body-font">
  <div
    class="container mx-auto flex flex-wrap p-0 flex-col md:flex-row items-center"
  >
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">
          <img class="w-36 h-36 rouned transition duration-500 ease-in-out  
          transform  
          hover:-translate-y-1 hover:scale-110  
          rounded-lg p-2" src="../../../assets/images/PP.png" alt="large avatar">  
          </a>
    </a>

    <nav
      class="md:ml-auto flex flex-wrap items-center text-base justify-center"
    >
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-green-800 ">Home</a>
      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-blue transition duration-500 ease-in-out  
      bg-slate-100 hover:bg-slate-500
       hover:scale-110  
      rounded-lg p-2 border will-change-transform">Contact</a>
      <a routerLink="/education" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-green-700transition duration-500 ease-in-out  
                       bg-slate-100 hover:bg-slate-500
                        hover:scale-110  
                       rounded-lg p-2 border will-change-transform">Education</a>
      <a routerLink="/skills" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white">Skills</a>
      <a routerLink="/work-history" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" ariaCurrentWhenActive="page" class="mr-5 hover:text-white"
        >Work History</a
      >
    </nav>
  </div>
</header>
