
<section class="text-gray-400 bg-gray-900 body-font h-full">
    <div class="container px-5 py-24 mx-auto">
      <div class="text-center mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font text-white mb-4">Stay Connected</h1>
        <div class="flex mt-6 justify-center">
          <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
        </div>
      </div>
      <div class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6">
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
            <svg class="h-8 w-8 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
              </svg>
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-lg title-font font-medium mb-3">Full Stack Developer</h2>
            <p class="leading-relaxed text-base">Revature/Citibank</p>
            <p class="leading-relaxed text-base">Irving, TX</p>
            <p class="leading-relaxed text-base">May 2022 - September 2023</p>
            <p class="leading-relaxed text-base">Role Summary:</p>
            <p class="leading-relaxed text-base">Design and implement server-side logic, databases, and APIs.</p>
            <p class="leading-relaxed text-base">Use Java and Spring Boot to build and maintain server-side components.</p>
            <p class="leading-relaxed text-base">Create responsive and user-friendly user interfaces using HTML, CSS, JavaScript, and
                Angular.</p>
            <p class="leading-relaxed text-base">Ensure a seamless user experience by optimizing web application performance and
                usability.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
            <svg class="h-8 w-8 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"/>
              </svg>
              
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-lg title-font font-medium mb-3">Paraprofessional</h2>
            <p class="leading-relaxed text-base">Guiding Light Academy</p>
            <p class="leading-relaxed text-base">Shorewood, IL</p>
            <p class="leading-relaxed text-base">October 2019 - May 2021</p>
            <p class="leading-relaxed text-base">Role Summary:</p>
            <p class="leading-relaxed text-base">Assisted teachers with planning and preparing lessons for students.</p>
            <p class="leading-relaxed text-base">Provided guidance to students in the classroom setting.</p>
            <p class="leading-relaxed text-base">Diagnosed system malfunctions and provided troubleshooting assistance.</p>
            <p class="leading-relaxed text-base">Identified problems in printers, scanners and networking hardware, applying required
                fixes or escalating issues.</p>
          </div>
        </div>
        <div class="p-4 md:w-1/3 flex flex-col text-center items-center">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-5 flex-shrink-0">
            <svg class="h-8 w-8 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"/>
              </svg>
              
          </div>
          <div class="flex-grow">
            <h2 class="text-white text-lg title-font font-medium mb-3">Graphic Designer Freelancer</h2>
            <p class="leading-relaxed text-base">Plainfield, IL</p>
            <p class="leading-relaxed text-base">April 2018 - October 2019</p>
            <p class="leading-relaxed text-base">Role Summary</p>
            <p class="leading-relaxed text-base">Create visually appealing graphics, illustrations, and layouts for various print and
                digital materials.</p>
            <p class="leading-relaxed text-base">Develop original and innovative designs that align with project objectives and brand
                guidelines.</p>
            <p class="leading-relaxed text-base">Craft web graphics, banners, social media images, email templates, and other digital
                assets to enhance online presence.</p>
          </div>
        </div>
      </div>
    </div>
  </section>