<section class="body-font  text-slate-800">
  <div class="container mx-auto px-5 py-5">
    <div
      class="mx-auto mb-10 flex flex-col items-center border-b border-gray-800 pb-10 sm:flex-row lg:w-3/5"
    >
      <div class="mb-0 text-center">
        <h1 class="title-font mb-4 text-2xl font-medium text-slate-800 sm:text-3xl transition duration-500 ease-in-out will-change-transform hover:scale-110">
          Background
        </h1>
        <!-- <div class="flex mt-6 justify-center">
      <div class="w-16 h-1 rounded-full bg-indigo-500 inline-flex"></div>
    </div> -->
      </div>
    </div>
    <div
      class="mx-auto mb-10 flex flex-col items-center border-b border-gray-800 pb-10 sm:flex-row lg:w-3/5"
    >
      <div
        class="inline-flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-full bg-gray-800  sm:mr-10 sm:h-32 sm:w-32 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-500 ease-in-out will-change-transform hover:scale-110 hover:bg-emerald-900"
      >
        <svg
          class="h-8 w-8 text-red-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          />
        </svg>
      </div>
      <div>
        
      </div>
      <div class="mt-2 flex-grow text-center sm:text-left">
        <div class="ml-8 transition duration-500 ease-in-out will-change-transform hover:scale-110">
          <h2 class=" mb-2 text-lg font-medium">
            Full Stack Developer
          </h2>
          <p class="text-base leading-relaxed">May 2022 - September 2023</p>
          <p class="text-base leading-relaxed">Revature/Citibank</p>
          <p class="text-base leading-relaxed">Irving, TX</p>
          <br />
        </div>
        <div class="ml-8 transition duration-500 ease-in-out will-change-transform hover:scale-110">
          <ul class="mb-2 list-disc">
            <li>Design and implement server-side logic, databases, and APIs</li>
            <li>
              Use Java and Spring Boot to build and maintain server-side
              components.
            </li>
            <li>
              Create responsive and user-friendly user interfaces using HTML, CSS,
              JavaScript, and Angular.
            </li>
            <li>
              Ensure a seamless user experience by optimizing web application
              performance and usability.
            </li>
          </ul>
        </div>
        
      </div>
    </div>

    <div
      class="mx-auto mb-10 flex flex-col items-center border-b border-gray-800 pb-10 sm:flex-row lg:w-3/5"
    >
      <div
        class="inline-flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-full bg-gray-800 sm:mr-10 sm:h-32 sm:w-32"
      >
        <svg
          class="h-8 w-8 text-red-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
          />
        </svg>
      </div>
      <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
        <h2 class="title-font mb-2 text-lg font-medium ">
          Paraprofessional
        </h2>
        <p class="text-base leading-relaxed">October 2019 - May 2021</p>
        <p class="text-base leading-relaxed">Guiding Light Academy</p>
        <p class="text-base leading-relaxed">Shorewood, IL</p>
        <br />
        <ul class="list-disc">
          <li>
            Assisted teachers with planning and preparing lessons for students.
          </li>
          <li>Provided guidance to students in the classroom setting.</li>
          <li>
            Diagnosed system malfunctions and provided troubleshooting
            assistance.
          </li>
          <li>
            Identified problems in printers, scanners and networking hardware,
            applying required fixes or escalating issues.
          </li>
        </ul>
      </div>
    </div>

    <div class="mx-auto flex flex-col items-center sm:flex-row lg:w-3/5">
      <div
        class="inline-flex h-20 w-20 flex-shrink-0 items-center justify-center rounded-full bg-gray-800 sm:mr-10 sm:h-32 sm:w-32"
      >
        <svg
          class="h-8 w-8 text-red-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          />
        </svg>
      </div>
      <div class="mt-6 flex-grow text-center sm:mt-0 sm:text-left">
        <h2 class="title-font mb-2 text-lg font-medium">
          Graphic Designer Freelancer
        </h2>
        <p class="text-base leading-relaxed">April 2018 - October 2019</p>
        <p class="text-base leading-relaxed">Plainfield, IL</p>
        <br />
        <ul class="list-disc">
          <li>
            Create visually appealing graphics, illustrations, and layouts for
            various print and digital materials.
          </li>
          <li>
            Develop original and innovative designs that align with project
            objectives and brand guidelines.
          </li>
          <li>
            Craft web graphics, banners, social media images, email templates,
            and other digital assets to enhance online presence.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
