<section class="text-black body-font h-full">
    <div class="container px-5 py-10 mx-auto ">
      <div class="flex-1 text-center rounded mx-40 py-5 mb-5 transition duration-500 ease-in-out will-change-transform hover:scale-110">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4">Projects</h1>
        <div class="flex mt-4 justify-center">
          <div class="w-16 h-1 rounded-full bg-red-700 inline-flex "></div>
        </div>
      </div>
      <div class="text-lg flex flex-wrap sm:-m-4 -mx-4 -mb-10 py-7 md:space-y-0 space-y-6 "> 
        @for(item of items; track $index){
        <div class="flex flex-col p-4 md:w-1/2  text-center items-center  ">
          <div class="w-20 h-20 inline-flex items-center justify-center rounded-full bg-gray-800 mb-5 flex-shrink-0 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-500 ease-in-out will-change-transform hover:scale-110 hover:bg-emerald-900">
            <svg class="h-8 w-8 text-red-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" attr.d={{item.path}} />
              </svg>
          </div>
          <div class="flex-grow font-medium text-lg transition duration-500 ease-in-out will-change-transform hover:scale-110 ">
            <h2 class="title-font mb-3">{{item.name}}</h2>
            <p class="leading-relaxed text-base">{{item.date}}</p>
          </div>
          <div class=" ml-10 transition duration-500 ease-in-out will-change-transform hover:scale-110">
            <ul class="list-disc">
              @for (desc of item.description; track $index){
              <li>{{desc}}</li>
              }
            </ul>
          </div>
        </div>
      }
      </div>
    </div>
  </section>